<!-- BREADCRUMB  START-->
<div id='breadcrumb' class='section'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-12'>
                <ul class='breadcrumb-tree'>
                    <li><a href='/'>Trang chủ</a></li>
                    <li><a href='/'>{{classify.GroupProductName}}</a></li>
                    <li class='active'>{{classify.ProductCategoryName}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB END-->

<!-- SECTION START-->
<div class='section'>
    <div class='container-fluid'>
        <div class='row'>
            {{! ASIDE }}
            <div id='aside' class='col-md-3'>
                <div class='aside'>
                    <h3 class='aside-title'>Danh mục sản phẩm</h3>
                    {{#if listCat}}
                        {{#each listCat}}
                            <div class='checkbox-filter'>
                                <div class='input-checkbox'>
                                    <input type='checkbox' id='category-1' />
                                    <label for='category-1'>
                                        <a href='/store/{{this.ProductCategoryName}}'>{{this.ProductCategoryName}}</a>
                                    </label>
                                </div>
                            </div>
                        {{/each}}
                    {{/if}}
                </div>

                {{! Price Range Slider }}
                <div class='aside'>
                    <form action='/store/{{classify.ProductCategoryName}}/filter-by-cost' method='POST'>
                        <h3 class='aside-title'>Khoảng giá</h3>
                        <div class='price-input'>
                            <div class='field'>
                                <input type='number' class='input-min' name='rangeMin' value='0' />
                                <i class='fa-solid fa-dong-sign'></i>
                            </div>
                            <div class='separator'>-</div>
                            <div class='field'>
                                <input type='number' class='input-max' name='rangeMax' value='99999999' />
                                <i class='fa-solid fa-dong-sign'></i>
                            </div>
                        </div>
                        <div class='slider'>
                            <div class='progress'></div>
                        </div>
                        <div class='range-input'>
                            <input type='range' class='range-min' min='0' max='99999999' value='0' step='10000' />
                            <input type='range' class='range-max' min='0' max='99999999' value='99999999' step='10000' />
                        </div>
                        <button class='primary-btn'>Lọc</button>
                    </form>
                </div>
                {{! Price Range Slider }}

                <div class='aside'>
                    <h3 class='aside-title'>Hãng</h3>
                    {{#if listSupplier}}
                        <div class='checkbox-filter-container'>
                            {{#each listSupplier}}
                                <div class='checkbox-filter'>
                                    <div class='input-checkbox'>
                                        <input type='checkbox' id='supplier-{{@index}}' />
                                        <label for='supplier-{{@index}}'>
                                            <a href='/store/{{this.category}}/{{this.SupplierName}}'>{{this.SupplierName}}</a>
                                        </label>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    {{/if}}
                </div>
            </div>
            {{! /ASIDE }}

            {{! STORE }}
            <div id='store' class='col-md-9'>
                {{! STORE PRODUCT }}
                <div class='row'>
                    {{#if listProduct}}
                        {{#each listProduct}}
                            <div class='col-md-4 col-xs-6'>
                                <div class='product'>
                                    <div class='product-img'>
                                        <img src='/{{this.ImgProduct}}' alt='{{this.ProductName}}' />
                                        <div class='product-label'>
                                            <span class='sale'>-30%</span>
                                            <span class='new'>NEW</span>
                                        </div>
                                    </div>
                                    <div class='product-body'>
                                        <h3 class='product-name'><a href='/store/{{this.ProductName}}/details'>{{this.ProductName}}</a></h3>
                                        <h4 class='product-price'>
                                            {{this.Price}}
                                            <i class='fa-solid fa-dong-sign'></i>
                                            <del class='product-old-price'>{{this.CostPrice}}<i class='fa-solid fa-dong-sign'></i></del>
                                        </h4>
                                        <div class='product-rating'>
                                            <i class='fa fa-star'></i>
                                            <i class='fa fa-star'></i>
                                            <i class='fa fa-star'></i>
                                            <i class='fa fa-star'></i>
                                            <i class='fa fa-star'></i>
                                        </div>
                                    </div>
                                    <div class='add-to-cart'>
                                        <a href='/cart/{{this.ProductName}}/add-1'>
                                            <button class='add-to-cart-btn'><i class='fa fa-shopping-cart'></i> Thêm vào giỏ hàng</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{/if}}
                </div>
                {{! /STORE PRODUCT }}
            </div>
            {{! /STORE }}
        </div>
    </div>
</div>
<!-- SECTION END-->