<!-- BREADCRUMB  START-->
<div id='breadcrumb' class='section'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-12'>
                <ul class='breadcrumb-tree'>
                    <li><a href='/'>Trang chủ</a></li>
                    <li class='active'>Giỏ hàng của tôi</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB END-->

<!-- CART START-->
<div class='cart-page'>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-lg-8'>
                <div class='cart-page-inner'>
                    <div class='table-responsive'>
                        <table class='table table-bordered'>
                            <thead class='thead-dark'>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Số lượng</th>
                                    <th>Tổng</th>
                                    <th>Xóa</th>
                                    <th>Chọn</th>
                                </tr>
                            </thead>
                            <tbody class='align-middle'>
                                {{#if cartItems}}
                                    {{#each cartItems}}
                                        <tr>
                                            <td hidden class='product-id'>{{this.ProductID}}</td>
                                            <td>
                                                <div class='img'>
                                                    <a href='/store/{{this.ProductName}}/details'>
                                                        <img src='{{this.ImgProduct}}' alt='Image' />
                                                        <p>
                                                            {{this.ProductName}}
                                                        </p>
                                                    </a>
                                                </div>
                                            </td>
                                            <td class='price'>
                                                {{this.Price}}
                                                <i class='fa-solid fa-dong-sign'></i>
                                            </td>
                                            <td>
                                                <div class='input-number'>
                                                    <input type='number' name='quantity' value='{{this.QuantityProduct}}' min='0' />
                                                    <span class='qty-up'>+</span>
                                                    <span class='qty-down'>-</span>
                                                </div>
                                            </td>
                                            <td class='total-price'>
                                                {{this.TotalPrice}}
                                                <i class='fa-solid fa-dong-sign'></i>
                                            </td>
                                            <td>
                                                <a href='/cart/{{this.ProductID}}/delete'><button><i class='fa fa-trash'></i></button></a>
                                            </td>
                                            <td><input type='checkbox' id='{{this.ProductID}}' class='select' name='selectedProducts' value='{{this.ProductID}}' /></td>
                                        </tr>
                                    {{/each}}
                                {{/if}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class='col-lg-4'>
                <div class='cart-page-inner'>
                    <div class='row'>
                        <div class='col-md-12'>
                            <div class='cart-summary'>
                                <div class='cart-content'>
                                    <h1>Thống kê giỏ hàng</h1>
                                    <p>Tổng tiền sản phẩm<span class='total-product-price'>0<i class='fa-solid fa-dong-sign'></i></span></p>
                                    {{! <p>Phí ship<span class='shipping-fee'>0<i class='fa-solid fa-dong-sign'></i></span></p> }}
                                    <h2>Tổng cộng<span class='total'>0<i class='fa-solid fa-dong-sign'></i></span></h2>
                                </div>
                                <form action='/cart/checkout' method='POST'>
                                    <div class='cart-btn'>
                                        {{! <a href='/cart/checkout'><button class='btn btn-outline-danger'>Thanh Toán</button></a> }}
                                        <button class='btn btn-outline-danger'>Thanh Toán</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CART END-->