<main id='main'>
    <div class='header'>
        <div class='container-fluid'>
            <div class='row'>
                <div class='col-md-3'>
                    <div class='navbar'>
                        <ul class='navbar-nav'>
                            <li class='nav-item d-flex align-items-center'>
                                <img src='/img/icon/television.png' alt='' />
                                <a href='/store/Ti vi'>Ti vi</a>
                                <a href='/store/Loa - Âm thanh'>, Loa - Âm thanh</a>
                                <i class='fa-solid fa-chevron-right'></i>
                            </li>
                            <li class='nav-item d-flex align-items-center'>
                                <img src='/img/icon/refrigerator.png' alt='' />
                                <a href='/store/Tủ lạnh'>Tủ lạnh</a>
                                <a href='/store/Tủ mát'>, Tủ mát</a>
                                <i class='fa-solid fa-chevron-right'></i>
                            </li>
                            <li class='nav-item d-flex align-items-center'>
                                <img src='/img/icon/washer.jpg' alt='' />
                                <a href='/Store/Máy giặt'>Máy giặt</a>
                                <i class='fa-solid fa-chevron-right'></i>
                            </li>
                            <li class='nav-item d-flex align-items-center'>
                                <img src='/img/icon/air-conditioner.png' alt='' />
                                <a href='/store/Điều hòa nhiệt độ'>Điều hòa nhiệt độ</a>
                                <i class='fa-solid fa-chevron-right'></i>
                            </li>
                            <li class='nav-item d-flex align-items-center'>
                                <img src='/img/icon/heater.jpg' alt='' />
                                <a href='/store/Bình nóng lạnh'>Bình nóng lạnh</a>
                                <i class='fa-solid fa-chevron-right'></i>
                            </li>
                            <li class='nav-item d-flex align-items-center'>
                                <img src='/img/icon/water-purifier.png' alt='' />
                                <a href='/store/Máy lọc nước'>Máy lọc nước</a>
                                <i class='fa-solid fa-chevron-right'></i>
                            </li>
                            <li class='nav-item d-flex align-items-center'>
                                <img src='/img/icon/fan.png' alt='' />
                                <a href='/store/Quạt'>Quạt</a>
                                <a href='/store/Lọc không khí'>, Lọc không khí</a>
                                <i class='fa-solid fa-chevron-right'></i>
                            </li>
                            <li class='nav-item d-flex align-items-center'>
                                <img src='/img/icon/cooker.png' alt='' />
                                <a href='/store/Nồi cơm'>Nồi cơm điện</a>
                                <i class='fa-solid fa-chevron-right'></i>
                            </li>
                            <li class='nav-item d-flex align-items-center'>
                                <img src='/img/icon/induction-cooker.png' alt='' />
                                <a href='/store/Bếp từ, hồng ngoại'>Bếp từ, hồng ngoại</a>
                                <i class='fa-solid fa-chevron-right'></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div id='main-banner' class='carousel slide' data-bs-ride='true'>
                        <div class='carousel-inner'>
                            <div class='carousel-item active'>
                                <img src='/img/sales/quat-mat-sale_51a4937b.png' class='d-block w-100' alt='Siêu sale quạt mát' />
                            </div>
                            <div class='carousel-item'>
                                <img src='/img/sales/tivi-samsung-neo-qled-8k-euro_928213de.jpg' class='d-block w-100' alt='Ti vi samsung neo qled 8k euro' />
                            </div>
                            <div class='carousel-item'>
                                <img src='/img/sales/tu-lanh-2-cua---ngan-dong-mem---gia-chi-2590000d-click-ngay_06c144e6.png' class='d-block w-100' alt='Tủ lạnh 2 cửa ngăn đông mềm' />
                            </div>
                            <div class='carousel-item'>
                                <img src='/img/sales/don-he-ruc-ro---toshiba-giam-het-co-click-ngay_1444312a.png' class='d-block w-100' alt='Đón hè rực rỡ toshiba giảm hết cỡ' />
                            </div>
                            <div class='carousel-item'>
                                <img src='/img/sales/tu-lanh-4-cua---side-by-side-gia-chi-tu-10990000d-click-ngay_91872dca.png' class='d-block w-100' alt='Tủ lạnh 4 cửa' />
                            </div>
                            <div class='carousel-item'>
                                <img src='/img/sales/tcl-hoa-nhip-san-co---cung-tivi-to_2fe4bd6c.png' class='d-block w-100' alt='Ti vi samsung neo qled 8k euro' />
                            </div>
                        </div>
                        <button class='carousel-control-prev' type='button' data-bs-target='#main-banner' data-bs-slide='prev'>
                            <span class='prev-icon'><i class='fa-solid fa-chevron-left'></i></span>
                            <span class='visually-hidden'>Previous</span>
                        </button>
                        <button class='carousel-control-next' type='button' data-bs-target='#main-banner' data-bs-slide='next'>
                            <span class='next-icon'><i class='fa-solid fa-chevron-right'></i></span>
                            <span class='visually-hidden'>Next</span>
                        </button>
                    </div>
                </div>
                <div class='col-md-3'>
                    <div class='box-banner'>
                        <div class='img-item'>
                            <img src='img/sales/may-loc-nuoc---uu-dai-tung-bung-mung-euro-cup-2024--50-xem-ngay_f1e67c1a.png' alt='Máy lọc nước ưu đãi euro cup' />
                        </div>
                        <div class='img-item'>
                            <img src='img/sales/samsung-vuot-ai-oled---vuot-chuan-xem-cup-sieu-dinh-xem-ngay_48ad6d1a.jpg' alt='Samsung AI OLED vượt chuẩn xem cup siêu đỉnh' />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Feature Start-->
    <div class='feature'>
        <div class='container-fluid'>
            <div class='row align-items-center'>
                <div class='col-lg-3 col-md-6 feature-col'>
                    <div class='feature-content'>
                        <i class='fa-brands fa-cc-mastercard'></i>
                        <h2>Bảo Mật Thanh Toán</h2>
                        <p>
                            Website cam kết bảo mật thông tin khách hàng
                        </p>
                    </div>
                </div>
                <div class='col-lg-3 col-md-6 feature-col'>
                    <div class='feature-content'>
                        <i class='fa-solid fa-truck'></i>
                        <h2>Vận Chuyển Toàn Miền Bắc</h2>
                        <p>
                            Freeship toàn miền Bắc, có hỗ trợ SHIP CODE cho khách hàng
                        </p>
                    </div>
                </div>
                <div class='col-lg-3 col-md-6 feature-col'>
                    <div class='feature-content'>
                        <i class='fa-solid fa-rotate'></i>
                        <h2>90 Ngày Đổi Trả</h2>
                        <p>
                            Cho phép khách hàng được đổi trả sản phẩm trong vòng 90 ngày
                        </p>
                    </div>
                </div>
                <div class='col-lg-3 col-md-6 feature-col'>
                    <div class='feature-content'>
                        <i class='fa-solid fa-comment'></i>
                        <h2>Tư Vấn 24/7</h2>
                        <p>
                            Luôn có nhân viên tư vấn online 24/24. Hỗ trợ chăm sóc khách hàng
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End-->

    <div class='section'>
        <div class='container-fluid'>
            <div class='row product-list'>
                <div class='col-md-12 banner-list'>
                    <div class='col-md-6 banner-item'>
                        <img src='https://cdn.mediamart.vn/images/banner/sale-dieu-hoa_2e8ebe5b.png' alt='' />
                    </div>
                    <div class='col-md-3 banner-item'>
                        <img src='https://cdn.mediamart.vn/images/banner/mua-vu-tc-09is35_c7006172.png' alt='' />
                    </div>
                    <div class='col-md-3 banner-item'>
                        <img src='https://cdn.mediamart.vn/images/banner/sale-dieu-hoa-sp_d1df6b8c.png' alt='' />
                    </div>
                </div>
                <div class='product-slider col-md-12'>
                    <div class='products-slick' id='product-slider-1'>
                        <!-- product -->
                        {{#if airConditioner}}
                            {{#each airConditioner}}
                                <div class='product'>
                                    <div class='product-img'>
                                        <img src='{{this.ImgProduct}}' alt='{{this.ProductName}}' />
                                    </div>
                                    <div class='product-body'>
                                        <h3 class='product-name'><a href='/store/{{this.ProductName}}/details'>{{this.ProductName}}</a></h3>
                                        <h4 class='product-price'>
                                            {{this.Price}}
                                            <i class='fa-solid fa-dong-sign'></i>
                                            <del class='product-old-price'>{{this.CostPrice}}<i class='fa-solid fa-dong-sign'></i></del>
                                        </h4>
                                        <div class='product-rating'>
                                            <i class='fa fa-star'></i>
                                            <i class='fa fa-star'></i>
                                            <i class='fa fa-star'></i>
                                            <i class='fa fa-star'></i>
                                            <i class='fa fa-star'></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- /product -->
                            {{/each}}
                        {{/if}}
                    </div>

                    <div class='swiper-button-next next-1'><i class='fa-solid fa-chevron-right'></i></div>
                    <div class='swiper-button-prev prev-1'><i class='fa-solid fa-chevron-left'></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class='section'>
        <div class='container-fluid'>
            <div class='row product-list'>
                <div class='col-md-12 banner-list' style='background-color: #8bc540'>
                    <div class='col-md-6 banner-item'>
                        <img src='https://cdn.mediamart.vn/images/banner/sale-tung-bung--mung-nha-vo-dich--50_b905edd7.png' alt='' />
                    </div>
                    <div class='col-md-3 banner-item'>
                        <img src='https://cdn.mediamart.vn/images/banner/sp1-50ut7000xg_f6747017.png' alt='' />
                    </div>
                    <div class='col-md-3 banner-item'>
                        <img src='https://cdn.mediamart.vn/images/banner/don-bong-lan-sp2-65ut7000xg_e6d00764.png' alt='' />
                    </div>
                </div>
                <div class='product-slider col-md-12'>
                    <div class='products-slick' id='product-slider-2'>
                        <!-- product -->
                        {{#if television}}
                            {{#each television}}
                                <div class='product'>
                                    <div class='product-img'>
                                        <img src='{{this.ImgProduct}}' alt='{{this.ProductName}}' />
                                    </div>
                                    <div class='product-body'>
                                        <h3 class='product-name'><a href='/store/{{this.ProductName}}/details'>{{this.ProductName}}</a></h3>
                                        <h4 class='product-price'>
                                            {{this.Price}}
                                            <i class='fa-solid fa-dong-sign'></i>
                                            <del class='product-old-price'>{{this.CostPrice}}<i class='fa-solid fa-dong-sign'></i></del>
                                        </h4>
                                        <div class='product-rating'>
                                            <i class='fa fa-star'></i>
                                            <i class='fa fa-star'></i>
                                            <i class='fa fa-star'></i>
                                            <i class='fa fa-star'></i>
                                            <i class='fa fa-star'></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- /product -->
                            {{/each}}
                        {{/if}}
                    </div>

                    <div class='swiper-button-next next-2'><i class='fa-solid fa-chevron-right'></i></div>
                    <div class='swiper-button-prev prev-2'><i class='fa-solid fa-chevron-left'></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class='section'>
        <div class='container-fluid'>
            <div class='row product-list'>
                <div class='col-md-12 banner-list' style='background-color: #faaf3a'>
                    <div class='col-md-6 banner-item'>
                        <img src='https://cdn.mediamart.vn/images/banner/tl-japan-4490000d_6b5220cb.png' alt='' />
                    </div>
                    <div class='col-md-3 banner-item'>
                        <img src='https://cdn.mediamart.vn/images/banner/4002bs-mua-vu_cc5e5165.png' alt='' />
                    </div>
                    <div class='col-md-3 banner-item'>
                        <img src='https://cdn.mediamart.vn/images/banner/rt22farbdsasv-mua-vu_4aacf174.png' alt='' />
                    </div>
                </div>
                <div class='product-slider col-md-12'>
                    <div class='products-slick' id='product-slider-3'>
                        <!-- product -->
                        {{#if fridge}}
                            {{#each fridge}}
                                <div class='product'>
                                    <div class='product-img'>
                                        <img src='{{this.ImgProduct}}' alt='{{this.ProductName}}' />
                                    </div>
                                    <div class='product-body'>
                                        <h3 class='product-name'><a href='/store/{{this.ProductName}}/details'>{{this.ProductName}}</a></h3>
                                        <h4 class='product-price'>
                                            {{this.Price}}
                                            <i class='fa-solid fa-dong-sign'></i>
                                            <del class='product-old-price'>{{this.CostPrice}}<i class='fa-solid fa-dong-sign'></i></del>
                                        </h4>
                                        <div class='product-rating'>
                                            <i class='fa fa-star'></i>
                                            <i class='fa fa-star'></i>
                                            <i class='fa fa-star'></i>
                                            <i class='fa fa-star'></i>
                                            <i class='fa fa-star'></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- /product -->
                            {{/each}}
                        {{/if}}
                    </div>

                    <div class='swiper-button-next next-3'><i class='fa-solid fa-chevron-right'></i></div>
                    <div class='swiper-button-prev prev-3'><i class='fa-solid fa-chevron-left'></i></div>
                </div>
            </div>
        </div>
    </div>
</main>